<div class="stat-card total">

    <div class="stat-content">
        <div class="aligned">
        <img src="~/images/stats1.svg" alt="teams" class="icon1" />
        <h2 class="stat-title">Total Employees</h2>
        </div>
        <div class="stat-numbers">
            <span class="number"> @ViewData["TotalEmployees"]</span>
            <span class="label">Employees</span>
        </div>
    </div>
</div>
<div class="stat-card female">
    <div class="stat-content">
        <div class="aligned">
        <img src="~/images/stats2.svg" alt="female" class="icon1" />
        <h2 class="stat-title">Female Employees</h2>
        </div>
        <div class="stat-numbers">
            <span class="number">@ViewData["FemaleEmployees"]</span>
            <span class="label">Employees</span>
        </div>
    </div>
</div>
<div class="stat-card male">
    <div class="stat-content">
        <div class="aligned">
            <img src="~/images/stats3.svg" alt="male" class="icon1" />
            <h2 class="stat-title">Male Employees</h2>
        </div>
        
        <div class="stat-numbers">
            <span class="number">@ViewData["MaleEmployees"]</span>
            <span class="label">Employees</span>
        </div>
    </div>
</div>