
<div class="profile-card">
    <div class="profile-container">
        <div class="profile-image-container">
            <img src="/images/avatar.svg" alt="Name" class="profile-image" />
            <div class="name-title">
                <h2>Maram ben rhouma</h2>
                <span class="title">UI/UX designer </span>
            </div>
        </div>
        <div class="profile-info">
            
            <div class="contact-info">
                <div class="contact-item">
                    <img src="/images/email.svg" alt="Email" class="icon" />
                    <div class="contact-details">
                        <span class="label">EMAIL</span>
                        <span class="value">maram@gmail.com</span>
                    </div>
                </div>
                <div class="contact-item">
                    <img src="/images/phone.svg" alt="Phone" class="icon" />
                    <div class="contact-details">
                        <span class="label">PHONE NUMBER</span>
                        <span class="value">25678876</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>