
    <div class="comments-list">
        
            <div class="comment">
            <div class="comment-date">05/12/2018</div>
            <div class="comment-content">Content </div>
            <div class="comment-author">  by Author </div>
            </div>
        <div class="comment">
            <div class="comment-date">05/12/2018</div>
            <div class="comment-content">Content </div>
            <div class="comment-author">  by Author </div>
        </div>
        <div class="comment">
            <div class="comment-date">05/12/2018</div>
            <div class="comment-content">Content </div>
            <div class="comment-author">  by Author </div>
        </div>
        
    </div>
