@model ICollection<Feedback>

    <div class="comments-list">
    @foreach (var item in Model){

            <div class="comment">
            <div class="comment-date">@item.Date</div>
            <div class="comment-content">@item.Description </div>
            <div class="comment-author">  by @item.Writer.Name</div>
            </div>
        
    }
    </div>
