<div class="feedback-column">
    
    <div class="feedback-list">
        <div class="feedback-item">
            <div class="feedback-date">24/01/2025</div>
            <div class="feedback-content">BLA BLA BLA BLA by maram</div>
            <div class="feedback-employee">by the employee: foulen</div>
        </div>
        <div class="feedback-item">
            <div class="feedback-date">24/01/2025</div>
            <div class="feedback-content">BLA BLA BLA BLA by maram</div>
            <div class="feedback-employee">by the employee: foulen</div>
        </div>
        <div class="feedback-item">
            <div class="feedback-date">24/01/2025</div>
            <div class="feedback-content">BLA BLA BLA BLA by maram</div>
            <div class="feedback-employee">by the employee: foulen</div>
        </div>
    </div>
</div>
</div>