
    <div class="profile-card">
        <div class="profile-center">
            <img src="~/images/refka.jpg" alt="Profile" class="profile-image" />
            <h2 class="profile-name">Refka Mahjoub</h2>
            <p class="profile-title">Sr. UX Designer</p>
        </div>
        <div class="contact-info">
            <div class="contact-item">
                <img src="~/images/email.svg" alt="Email" class="contact-icon" />
                <div class="contact-text">
                    <div class="contact-label">EMAIL</div>
                    <div class="contact-value">refka.mahjoub@gmail.com</div>
                </div>
            </div>
            <div class="contact-item">
                <img src="~/images/phone.svg" alt="Phone" class="contact-icon" />
                <div class="contact-text">
                    <div class="contact-label">PHONE NUMBER</div>
                    <div class="contact-value">28579687</div>
                </div>
            </div>
        </div>
    </div>

