
<div class="period-card">
    <div class="period-icon">
        <img src="~/images/calendar.svg" alt="Calendar" />
    </div>
    <div>
        <h3>Estimated Period</h3>
        <p>26/01/2025-30/07/2025</p>
    </div>
</div>

<div class="stage-card">

    <div class="steps-icon">
        <div>
            <img src="~/images/steps.svg" alt="steps" />

        </div>
        <div>
            <h3>Progress</h3>

        </div>
        
    </div>
    
    <div class="stage-number">STAGE 3</div>
</div>
