@model Dotnet_Project.Models.Project

<div class="period-card">
    <div class="period-icon">
        <img src="~/images/calendar.svg" alt="Calendar" />
    </div>
    <div>
        <h3>Estimated Period</h3>
        <p>@Model.startDate - @Model.endDate</p>
    </div>
</div>

<div class="stage-card">

    <div class="steps-icon">
        <div>
            <img src="~/images/steps.svg" alt="steps" />

        </div>
        <div>
            <h3>Progress</h3>

        </div>
        
    </div>
    
    <div class="stage-number"><@Model.Progress</div>
</div>
