@model ICollection<ProjectTask>
<div class="tasks-section">
    @foreach (var task in Model)
        {

        <div class="task-card">
            <h3>@task.Title</h3>
            <div class="task-details">
                <div class="detail">
                <p class="title-table">Project name</p>
                    <p class="value.table">ProjectName</p>
                </div>
                <div class="detail">
                    <p class= "title-table">Created On</p>
                    <p>@task.CreationDate</p>
                </div>
                <div class="detail">
                <p class="title-table">Deadline<p/>
                    <p>@task.dueDate</p>
                </div>
                <div class="status">@task.Status</div>
            </div>
        </div>

        }
</div>
