
<div class="tasks-section">
    
        <div class="task-card">
            <h3>Task number 1</h3>
            <div class="task-details">
                <div class="detail">
                <p class="title-table">Project name</p>
                    <p class="value.table">ProjectName</p>
                </div>
                <div class="detail">
                    <p class= "title-table">assigned on</p>
                    <p>12/03/2025</p>
                </div>
                <div class="detail">
                <p class="title-table">
                    Deadline<p/>
                <p>12/03/2025</p>
                </div>
                <div class="status">not yet</div>
            </div>
        </div>

    <div class="task-card">
        <h3>Task number 1</h3>
        <div class="task-details">
            <div class="detail">
                <p class="title-table">Project name</p>
                <p class="value.table">ProjectName</p>
            </div>
            <div class="detail">
                <p class="title-table">assigned on</p>
                <p>12/03/2025</p>
            </div>
            <div class="detail">
                <p class="title-table">
                    Deadline
                <p />
                <p>12/03/2025</p>
            </div>
            <div class="status">not yet</div>
        </div>
    </div>

    <div class="task-card">
        <h3>Task number 1</h3>
        <div class="task-details">
            <div class="detail">
                <p class="title-table">Project name</p>
                <p class="value.table">ProjectName</p>
            </div>
            <div class="detail">
                <p class="title-table">assigned on</p>
                <p>12/03/2025</p>
            </div>
            <div class="detail">
                <p class="title-table">
                    Deadline
                <p />
                <p>12/03/2025</p>
            </div>
            <div class="status">not yet</div>
        </div>
    </div>
</div>
