<div class="team-section">
    
    <table class="team-table">
        <thead>
            <tr>
                <th>NAME</th>
                <th>ID</th>
                <th>DEPARTMENT</th>
                <th>POST</th>
                <th>PHONE NUMBER</th>
                <th>ASSIGNED TASK</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="member-info">
                        <img src="~/images/profile/Refka.jpg" alt="refka" class="profile-img" />
                        <span>Refka Mahjoub</span>
                    </div>
                </td>
                <td>4.0</td>
                <td>Design Challenge</td>
                <td>Sr. UX Designer</td>
                <td>12/02/23</td>
                <td>Productivity</td>
            </tr>
            <tr>
                <td>
                    <div class="member-info">
                        <img src="~/images/profile/Refka.jpg" alt="refka" class="profile-img" />
                        <span>Refka Mahjoub</span>
                    </div>
                </td>
                <td>4.0</td>
                <td>Design Challenge</td>
                <td>Sr. UX Designer</td>
                <td>12/02/23</td>
                <td>Productivity</td>
            </tr>
            <tr>
                <td>
                    <div class="member-info">
                        <img src="~/images/profile/Refka.jpg" alt="refka" class="profile-img" />
                        <span>Refka Mahjoub</span>
                    </div>
                </td>
                <td>4.0</td>
                <td>Design Challenge</td>
                <td>Sr. UX Designer</td>
                <td>12/02/23</td>
                <td>Productivity</td>
            </tr>
            
        </tbody>
    </table>
</div>