
@model Dotnet_Project.Models.Employee; 

@{
    ViewData["Title"] = "EmployeeManagement";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Employees.css">
}
@section Navbar {
    <nav class="nav-menu">
        <a href="/employees" class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Employee" ? "active" : "")">
            <img src="~/images/document-text.svg" />
            <span>Project Overview</span>
        </a>
        <a href="/meetings" class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Tasks" ? "active" : "")">
            <img src="~/images/message-text.svg" />
            <span>Tasks and Workflow</span>
        </a>
    </nav>
}
<div class="dashboard-container ">
    <div class="dashboard">
        <div  class="profile">
            <div class="employee-section">
                @Html.Partial("_EmployeeDetails", Model)
            </div>
           
                <div class="stat-card">
                    <div class="stat-icon">📊</div>
                    <div class="stat-content">
                        <h2 class="stat-title" >Tasks completed</h2>
                        <span >for this month</span>
                        <div class="stat-numbers">
                            <span class="number">20</span>
                            <span class="label">Tasks</span>
                        </div>
                    </div>
                </div>

                <div class="stat-card">
                    <div class="stat-icon">⏰</div>
                    <div class="stat-content">
                    <h2 class="stat-title">
                        Overdue tasks</h2>
                        <span>for this month</span>
                        <div class="stat-numbers">
                            <span class="number">2</span>
                            <span class="label">Tasks</span>
                        </div>
                    </div>
                </div>
            </div>
        <div class="task-comment" >
            <div class="tasks">
                 @Html.Partial("_TaskList", Model.Tasks) 
            </div>
            <div class="comments">
                <div class="comments-section">
                    <div class="comment-input">
                        <textarea placeholder="your comment here..."></textarea>
                        <button class="add-button">Add</button>
                    </div>

                    <h3 class="comment-title">Previous comments</h3>
                <partial name="_Feedbacks"  />
                </div>
            </div>
    </div>
    </div>
</div>