@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/urbanist/Urbanist-Regular.woff2') format('woff2'),
         url('/fonts/urbanist/Urbanist-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/urbanist/Urbanist-Bold.woff2') format('woff2'),
         url('/fonts/urbanist/Urbanist-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
