@section Styles {
    <link rel="stylesheet" href="~/css/ProjectOverview.css">
}

@section Navbar {
    <nav class="nav-menu">
        <a href="/project-overview" class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "ProjectOverview" ? "active" : "")">
            <img src="~/images/document-text.svg" />
            <span>Project Overview</span>
        </a>
        <a href="/tasks-workflow" class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "TasksWorkflow" ? "active" : "")">
            <img src="~/images/message-text.svg" />
            <span>Tasks & Workflow</span>
        </a>
    </nav>
}

<div class="dashboard-container">
    <div class="dashboard">
        <div class="project-overview">
            <h2>details</h2>
            <div class="details-grid">
                <div class="details-section">
                    
                    <partial name="_ProjectDetails" />
                </div>
                <div class="purpose-section" >
                    <h2>Purpose and Key Impact</h2>
                    <partial name="_PurposeImpact" />
                </div>
            </div>
            <h2>Project team members </h2>
            <div class="team-section">
                
                <partial name="_Team" />
            </div>
        </div>
    </div>
</div>